*********************************************************
Akamai Connected Cloud Slurm Marketplace App
Documentation: https://slurm.schedmd.com/
*********************************************************
To delete this message of the day: rm /etc/motd