*********************************************************
Akamai Connected Cloud Slurm Marketplace App
Credentials File: 
 - /home/{{ username }}/.credentials
Documentation: https://slurm.schedmd.com/
*********************************************************
To delete this message of the day: rm /etc/motd