---
- name: install nfsserver
  apt:
    name: nfs-kernel-server
    state: present
  delegate_to: "{{ groups['slurm_servers'][0] }}"

#- name: add export entry for /home
#  lineinfile:
#    path: /etc/exports
#    line: "/home 192.168.0.0/16(rw,sync,no_root_squash,no_subtree_check)"
#  delegate_to: "{{ groups['slurm_servers'][0] }}"

#- name: restart nfs-kernel-server
#  systemd:
#    name: nfs-kernel-server
#    state: restarted
#    enabled: yes

#- name: install nfsclient
#  apt:
#    name: nfs-common
#    state: present

#- name: Add NFS mount to fstab
#  lineinfile:
#    path: /etc/fstab
#    line: "compute-01:/home /home nfs auto,timeo=14,intr 0 0"
#  delegate_to: "{{ item }}"
#  #loop: "{{ groups['slurm_servers'] | slice(1, groups['slurm_servers'] | length) }}"
#  loop: "{{ groups['slurm_servers'] }}"
#  loop_control:
#    index_var: count

##- name: configure hostnames55555
##  hostname:
##    use: systemd
##    name: "{{ slurm_data.server[count].instance.hostname }}"
##  run_once: true
##  delegate_to: "{{ item }}"
##  loop: "{{ groups['slurm_servers'] }}"
##  loop_control:
##    index_var: count

#- name: Mount NFS share 
#  command: mount -a 
#  delegate_to: "{{ item }}"
#  loop: "{{ groups['slurm_servers'] | slice(1, groups['slurm_servers'] | length) }}"

#- name: Debug msg
#  debug:
#    msg: "={{ groups['slurm_servers'] | slice(1, groups['slurm_servers'] | length) }}="
#    #"msg": "=[['localhost', '172.236.149.152', 2]]="

#- name: install nfsclient
#  import_tasks: install_nfsclient.yml
#  delegate_to: "{{ item }}"
#  loop: "{{ groups['slurm_servers'] | slice(1, groups['slurm_servers'] | length) }}"
#  loop_control:
#    index_var: count

#- name: Add NFS mount to fstab
#  lineinfile:
#    path: /etc/fstab
#    line: "compute-01:/home /home nfs auto,timeo=14,intr 0 0"
#  delegate_to: "{{ item }}"
#  #loop: "{{ groups['slurm_servers'] | slice(1, groups['slurm_servers'] | length) }}"
#  loop: "{{ groups['slurm_servers'] }}"
#  loop_control:
#    index_var: count

